*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "IBM Plex Mono", monospace;
}

.navbar {
  width: 100vw;
  height: 80px;
  padding: 16px;
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.language-icons {
  display: flex;
  gap: 8px;
  font-size: 24px;
}

h1 {
  color: rgb(20, 130, 255);
}
.app-container {
  /* border: 1px solid black; */
  margin: 60px auto;
  /* border: 1px solid black; */
  /* padding-top: 80px; */
  /* background-color: lightcyan; */
  padding: 8px;
  min-width: 340px;
  box-shadow: 3px 3px 20px lightgray;
}
.input-text {
  height: 56px;
  border: 1px solid lightblue;
  background-color: rgb(245, 245, 245);
  width: 100%;
  padding-left: 8px;
  margin-bottom: 1em;
}
.input-text:hover {
  border: 1px solid #1482ff;
}
.input-container {
  display: flex;
  width: 100%;
  height: 56px;
  margin-bottom: 1em;
}
::placeholder {
  color: rgb(160, 160, 160);
}

.task-container {
  display: flex;
  align-items: start;
  height: 56px;
  margin-top: 4px;
  border: 1px solid green;
}

textarea {
  resize: none;
}
.task-text {
  min-width: 200px;
  padding: 8px;
  border: none;
  background-color: rgba(0, 0, 0, 0.02);
  height: 100%;
  width: 100%;
}

.button-submit,
.button-edit,
.button-delete {
  width: 56px;
  /* height: 56px; */
  height: 100%;
  border: none;
  color: white;
  cursor: pointer;
  border: none;
  padding: 0px 8px;
}
.button-delete:hover,
.button-edit:hover,
.button-submit:hover {
  border: 2px solid white;
}
.button-submit {
  background-color: rgb(20, 130, 255);
}
.button-edit {
  background-color: coral;
}
.button-delete {
  background-color: red;
}
.done {
  background-color: rgb(6, 145, 6);
  color: white;
}

@media only screen and (min-width: 800px) {
  .app-container {
    padding: 16px;
    max-width: 800px;
  }
}
